body{
    background-color: rgb(194, 168, 168);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .container{
   
    width: 60vw;
    height: 1200px;
    margin: 30px;
    box-shadow: whitesmoke;
    
    border-radius: 5px;
    border: 4px solid black;
  }
  